<div class="tree-node" [style.padding-left]="level * 20 + 'px'">
  <div class="tree-item" (click)="toggleExpand()">
    <i class="icon" [class]="getIcon()"></i>
    
    <!-- Enhanced display for records -->
    <ng-container *ngIf="!isFolder; else folderName">
      <div class="record-info">
        <span class="node-name">{{ component.name }}</span>
        <span class="record-date" *ngIf="component.display().date">
          <i class="fa-regular fa-calendar-days"></i> {{ component.display().date | date:'MMM d, y' }}
        </span>
        <span class="record-diagnosis" *ngIf="component.display().diagnosis">
          <i class="fa-solid fa-stethoscope"></i> {{ component.display().diagnosis }}
        </span>
      </div>
    </ng-container>
    
    <!-- Simple display for folders -->
    <ng-template #folderName>
      <span class="node-name">{{ component.name }}</span>
    </ng-template>
  </div>
  
  <div class="children" *ngIf="isExpanded && isFolder">
    <ng-container *ngFor="let child of children">
      <app-medical-folder-tree 
        [component]="child" 
        [level]="level + 1"/>
    </ng-container>
  </div>
  
  <div *ngIf="!isFolder && isExpanded" class="record-details">
    <div class="detail-item" *ngIf="component.display().date">
      <span class="detail-label">Date:</span>
      <span>{{ component.display().date | date }}</span>
    </div>
    <div class="detail-item" *ngIf="component.display().diagnosis">
      <span class="detail-label">Diagnosis:</span>
      <span>{{ component.display().diagnosis }}</span>
    </div>
    <div class="detail-item" *ngIf="component.display().treatment">
      <span class="detail-label">Treatment:</span>
      <span>{{ component.display().treatment }}</span>
    </div>
  </div>
</div> 